
.Home{
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 50px;
   
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: left; 
    margin-left: 33%;
    margin-top: 10%;
 
}
h1{
    border: 10px;
    color: rgb(122, 7, 7);
    text-shadow: 1000px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    
   border: 10px;
    color: rgb(0, 0, 0);
    text-shadow: 1000px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: large;
}
.grid{
     backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  color: black;
}
